.auth {
    .auth-page-wrap {
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0;
            background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
        }

        .auth-box {
            position: relative;
            z-index: 1;
            max-width: 400px;
            width: 100%;

            .box-title {
                color: var(--white);
                letter-spacing: 5px;

                span {
                    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
                    -webkit-text-stroke-width: 2px;
                    font-weight: 700;
                    -webkit-text-stroke-color: var(--white);
                    margin-bottom: 30px;
                }
            }

            .form-group {
                margin-bottom: 10px;
                position: relative;

                .form-control {
                    background-color: rgba(255, 255, 255, 0.2) !important;
                    border-radius: 30px !important;
                    padding: 15px 20px 15px 60px;
                    font-size: .8571em;
                    border: none;
                    transition: .3s all ease-out;


                    &::-webkit-input-placeholder {
                        color: var(--white);
                    }

                    &:focus {
                        transition: .3s all ease-out;
                        background-color: rgba(255, 255, 255, 0.4) !important;
                        border: none;
                    }

                    &:focus:active {
                        transition: .3s all ease-out;
                        background-color: rgba(255, 255, 255, 0.4) !important;
                        border: none;
                    }
                }

                .placeholder-icon {
                    position: absolute;
                    left: 20px;
                    top: 15px;
                }

                .eye-wrap {
                    position: absolute;
                    right: 25px;
                    top: 15px;
                }
            }
        }
    }
}



/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.4) inset !important;
}
