.dashboard {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
    }

    .card-glass {
        background-color: transparent;
        border: none;
        box-shadow: 0 0 5px rgba(255, 255, 255, .3);
        backdrop-filter: blur(10px);
        color: var(--white);

        .glass-body{
            height: 650px;
            overflow: auto;
        }
    }
}
